/*----Google fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*----Variables----*/
:root {
    /*----Colores----*/
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    /*--body-color: hsl(var(--hue), var(--sat), 98%);*/
    --body-color: #ece9e6;
    --container-color: #fbfbfb;
    --acento-color: #646464;
    --text-color-dark: #1b1b1b;

    /*----Tipografía----*/
    --body-font: 'Nunito Sans', sans-serif;

    /*--- Tamaño de fuente----*/
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .625rem;

    /*--peso de la fuente--*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*-- Margenes --*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*-- z index --*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*-- Tipografia responsiva --*/
    @media screen and (max-width: 992px) {
        :root {
            --big-font-size: 2.75rem;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: .930rem;
            --small-font-size: .813rem;
            --smaller-font-size: .75rem;
        }
    }
}

/*---- Estilo Base----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*------Clases CSS reutilizables-------*/

.section {
  padding: 6rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/*----------layout----------*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*----------Botones----------*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--body-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--text-color-dark);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.button-icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/*---------Breakpoints-------------*/
/*dispositivos grandes*/
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button-icon {
    width: 22px;
    height: 22px;
  }
}

/* dispositivos medianos */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }


  .section {
    padding: 2rem 0 4rem;
  }

  .section-subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {

}

/* dispositivos pequeños */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  
}

/* Seccion header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav-list {
    list-style: none;
    display: flex;
    column-gap: 2rem;
}

.nav-list li a {
    display: flex;
    align-items: center;
    gap: .4rem;
    text-decoration: none;
    font-size: var(--small-font-size);
    color: var(--title-color);
    transition: .3s ease, transform .2s ease;
}


/*--Hover --*/
.nav-list li a:hover {
    color: var(--acento-color);
    transform: translateY(-6px);
}

/* Botón hamburguesa */
.nav-toggle {
    display: none;
    background-color: var(--body-color);
    border: none;
    color: var(--title-color);
    font-size: 28px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-list {
        position: absolute;
        top: 39px;
        right: 0;
        background-color: var(--container-color);
        flex-direction: column;
        gap: 1rem;
        width: 200px;
        padding: 1rem;
        display: none;
        border: 1px solid rgba(164, 164, 164, 0.8);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .nav-list.show-menu {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

/*-- Seccion Home --*/
.home-content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home-social {
    display: grid;
    grid-template-columns:max-content;
    row-gap: 1rem;
}

.home-social-icon {
    font-size: 1.25rem;
    color: var(--acento-color);
}

.home-social-icon:hover {
    color: var(--body-color);
    background-color: var(--acento-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 0.1rem;
    transform: scale(1.1);
    transition: .3s;
}

.home-title {
    font-size: 3rem;
    margin-bottom: var(--mb-0-25);
}

.home-subtitle {
    position:relative;
    font-size: var(--h3-font-size);
    /*padding-left: 5.4rem;*/
    font-weight: var(--font-regular);
    margin-bottom: var(--mb-1);
}


.home-description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home-img {
    background: url('./assets/unnamed.file3.jpg') no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite .1s;
}

/*-- Animacion de foto de perfil --*/
@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

/*---------Breakpoints-------------*/
/*Para dispositivos grandes*/
@media screen and (max-width: 992px) {
    .home-content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home-subtitle {
        margin-bottom: var(--mb-1);
    }

    .home-description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home-img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.15);
    }
}
  
  /* Para dispositivos medianos */
@media screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home-img {
    order: initial;
    justify-self: initial;
  }

  .home-data {
    grid-column: 1/3;
  }

  .home-img {
    box-shadow: inset 0 0 0 6px rgb(255, 255, 255 / 30%);
    width: 200px;
    height: 200px;
  }
}
  
  
  /* Para dispositivos pequeños */
@media screen and (max-width: 350px) {
    .home-img {
        width: 180px;
        height: 180px;
    }
}

/*-- Seccion Acerca de mi --*/
.about-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about-img {
    width: 300px;
    height: 200px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-img img {
    border-radius: 5%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.about-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about-subtitle {
    font-size: var(--tiny-font-size);
}

.about-description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

/*---------Breakpoints-------------*/
/*dispositivos grandes*/
@media screen and (max-width: 992px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2,5rem;
    }

    .about-img {
        width: 220px;
    }

    .about-data {
        text-align: center;
    }

    .about-description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

/* dispositivos medianos */

@media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}

/*---Seccion Skills --*/
.skills-container{
    grid-template-columns: repeat(3, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills-content {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title{
    font-size: var(--font-regular);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills-box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    margin-top: 2rem;
}

.skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data {
    display: flex;
    column-gap: .5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills-level {
    font-size: var(--tiny-font-size);
}

/*---------Breakpoints-------------*/
/*dispositivos grendes*/
@media screen and (max-width: 992px) {
    .skills-container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  /* dispositivos medianos */
  @media screen and (max-width: 576px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-content {
        margin: 0 2rem;
        padding: 1.5rem;
    }
  }
  
  /* dispositivos pequeños */
  @media screen and (max-width: 350px) {
      
  }

  /*-- Seccion Proyectos --*/
  .proyect.section {
    padding: 4rem 1 rem;
    background-color: var(--body-color);
    text-align: center;
  }


  /* Contenedor en grid */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* Cards */
.project-card {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    font-size: var(--normal-font-size);
    margin: 1rem;
}

.project-card p {
    font-size: var(--small-font-size);
    margin: 0 1rem 1rem;
}

/* Hover */
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

/*--- BreakPonints --*/
/* Dispositivos grandes */
@media screen and (max-width: 992px) {
    .project-container {
        gap: 1.25rem;
    }

    .project-card {
        padding: 1rem;
    }

    .project-card img {
        margin-bottom: 0.75rem;
    }

    .project-card h3 {
        margin-bottom: 0.25rem;
    }

}

/* dispositivos medianos */
@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0 1rem;
    }
    .project-card {
        max-width: 320px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px){
    .project-container {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .project-card {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* dispositivos pequeños */
@media screen and (max-width: 350px) {
}


/* Seccion contacto */
.contact-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact-title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.contact-info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact-card {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact-card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact-card-title,
.contact-card-data {
    font-size: var(--small-font-size)
}

.contact-card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact-button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact-button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.contact-button:hover .contact-button-icon {
    transform: transalate(0.25rem);
}

/* formulario */
.contact-form {
    max-width: 360px;
}

.contact-form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}

.contact-form-input {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0,1);
    background: none;
    color: var(--title-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact-label {
    position:absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact-form-area {
    height: 11rem;
}

.contact-form-area textarea {
    resize: none;
}

/*---------Breakpoints-------------*/
/*dispositivos grandes*/
@media screen and (max-width: 992px) {
   .contact-container {
    column-gap: 3rem;
   }
}
  
  /* dispositivos medianos */
@media screen and (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact-info {
        justify-content: center;
    }

    .contact-form {
        margin: 0 auto;
    }
}
  
@media screen and (max-width: 576px) { 
    .contact-info {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 100%;
    }
}
  
  /* dispositivos pequeños */
@media screen and (max-width: 350px) {   
}

/* Footer */
.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0,1);
}

.footer-container {
    padding: 2rem 0 6rem;
}

.footer-title,
.footer-link {
    color: var(--title-color);
}

.footer-title {
    text-align: center;
    margin-bottom: var(--mb-2);
    font-size: var(--smaller-font-size);
}

.footer-link:hover {
    color: var(--text-color);
}

.footer-list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer-social {
    display:flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer-social-link {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer-social-link:hover {
    background-color: var(--acento-color);
    /*color: var(--body-color);*/
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.15);
}


.footer-copy {
    display: block;
    margin-top: 3.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/* breakpoints */
@media screen and (max-width: 992px) {
    .footer-social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}