/*----Google fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*----Variables----*/
:root {
    /*----Colores----*/
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fbfbfb;
    --acento-color: #646464;

    /*----Tipografía----*/
    --body-font: 'Nunito Sans', sans-serif; 

    /*--- Tamaño de fuente----*/
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .625rem;

    /*--peso de la fuente--*/ 
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*-- Margenes --*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*-- z index --*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*-- Tipografia responsiva --*/
    @media screen and (max-width: 992px) {
        :root {
            --big-font-size: 2.75rem;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: .930rem;
            --small-font-size: .813rem;
            --smaller-font-size: .75rem;
        }
    }
}

/*----Base----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   

html {
    scroll-behavior: smooth;
}   

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/* Seccion header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.nav-list {
    list-style: none;
    display: flex;
    column-gap: 2rem;
}

.nav-list li a {
    display: flex;
    align-items: center;
    gap: .4rem;
    text-decoration: none;
    font-size: var(--small-font-size);
    color: var(--title-color);
    transition: .3s ease, transform .2s ease;
}


/*--Hover --*/
.nav-list li a:hover {
    color: var(--acento-color);
    transform: translateY(-2px);
}
/* Botón hamburguesa */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #1a1a1a;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    padding: 1rem;
    display: none;
  }

  .nav-list.show-menu {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
}